

*{
    margin:0px;
    padding:0px;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
   }
   

  .chat-wa{
    position:fixed;
     top:93%;
     display:flex;
     justify-content:right;
     align-items:right;
    right:20px;
    z-index: 999;
    }
    
  
    
    .whatsapp-img{
    border-radius:100px;
    height:40px;
     width:40px;
    margin-top:-9px;
    animation: scaleUp 1s ease-in-out infinite;
    z-index: 999;
    }
  
  


 /* SCROLL TO TOP STYLE RULES */


 .scrollTop{
    position:fixed;
    bottom:30px;
    right:100px;
    background-color: orangered;
    color:white;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    z-index: 9999;
    padding: 10px;
    border-radius:30px;
  }
  

/* HEADER STYLE RULES*/

  
header{
    display: flex;
    justify-content:space-between;
    background-color:white;
      height:60px;
      position:fixed;
      width:100%;
      z-index: 9999999;
      top:0px;
      box-shadow: 0 0 10px black;
    }
    
    header h1{
       font-size:15px; 
       font-weight:bold;
       margin-top:20px;
         color:#ff3a00;
       
    }
    
    .logo-card img{
    width:50px;
    height:50px;
    }
    
    .logo-card{
        display: flex; 
        gap:10px;
        position: absolute;
        left:10px;
    }
    
    .social-card{
        position: absolute;
        right:10px;
    }


    hr{
        height: 1px;
        border:none;
        box-shadow: 0 0 10px black ;
    }
    
    
    .home{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    
    .home h3{
    padding:15px;
    color:#ffc800;
    font-size:15px;
    }
    
    .home p{
    padding-bottom:25px;
    }
    
    .menu{
        display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:30px;
    }
    
    .menu-img{
    width:100%;
    border-radius:15px;
    }
    
    .food-img-card p{
    font-weight: bold;
    padding-top:10px;
    color:orangered;
    }
    
    .food-card{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding-top:50px ;
    padding:25px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.251);
    background-color: #dfdfdf ;
    }
    
    #food-card-mother{
        display:flex;
        flex-direction: column;
        gap:50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .input-radio-card label{
    color:orangered;
    font-weight: bold;
    }
    
    #details-card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:50px;
    }
    
    
    #details-card h1{
    padding:20px;
    }
    
    #details-card input{
        width:200px;
        height:35px;
        margin:20px;
    }
    
    input::placeholder{
        position:relative;
        left:20px;
    }
    
     #details-card label{
        margin:20px;
        position:relative;
        top:10px;
    }
    
    
    .contact-submit{
        width:100px;
        margin:20px;
        border-radius:10px;
        background-color:black;
        color:white;
        padding: 15px;
        margin-top:40px;
        position: relative;
      left:20%;
    }